<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header.css" />
    <link href="../static/css/fontawesome/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="header_container">
        <div class="logo_container">
            <img class="logo" src="../static/ProfileImages/Logo_Cook.png" alt="Logo_Cook">
            <h3 style="font-size: 1.4rem; margin-left: 1rem;">Cook-Overflow</h3>
        </div>
        <ul class="routs">
            <li class="rout"><a class="rout_a" href="{% url 'timeline' %}">Home</a></li>
            <li class="rout"><a class="rout_a" href="{% url 'profile' %}">profile</a></li>
            <li class="rout"><a class="rout_a" href="#">Contact Us</a></li>
        </ul>
        <div class="Notifications">
            <i class="fas fa-lg fa-search icons"></i>
            <i class="fas fa-lg fa-users icons"></i>
            <i class="fas fa-lg fa-envelope icons"></i>
            <i class="fas fa-lg fa-bell icons"></i>
        </div>
        <div class="profile_minue">
            <div class="profile_conainer">
                <img class="profile_image" src="../static/ProfileImages/pro_image.JPG" alt="Profile_image">
                <h3 style="font-size: 1rem; margin-left: 1rem;">Ataa Shaqour</h3>
            </div>
        </div>
    </header>
    <script src="https://kit.fontawesome.com/b230305873.js" crossorigin="anonymous"></script>
</body>
</html>