{% extends 'base.html' %} {% load static %} {% load humanize %}{% block content %}

<div style="display: flex; flex-direction: column; justify-items: center; align-items: center; ">
    <div class="top-search" style="margin-top: 50px;">
        <form method="post" action="{% url 'Timeline:find-friend' %}">
            {% csrf_token %}
            <input type="text" name="friendToSearch" placeholder="Search for a friend">
            <button data-ripple><i class="ti-search"></i></button>
        </form>
    </div>

    <div style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
        <label for="trends"><h3>Fined Frineds:</h3></label>
    </div>

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            {% include 'includes/sidebar.html' %}
                            <div class="col-lg-6">
                                <div class="loadMore" >
                                    <div class="notification" >
                                    {% for user in usersList %}
                                        <article class="media">
                                            <figure class="media-left">
                                              <figure class="image is-64x64">
                                                  {% if user.profile_image.url %}
                                                      <img src="{{ user.profile_image.url }}" alt="Placeholder image">
                                                    {% else %}
                                                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                                  {% endif %}
                                              </figure>
                                            </figure>
                                            <div class="media-content">
                                              <div class="content">
                                                  <strong>{{ user.first_name }} {{ user.last_name }}</strong> <small>@{{ user.user.username }}</small> 
                                                  <br>
                                                  {% if user.user.id in followers %}
                                                    <form  method="POST" action="{% url 'profile:remove-follower' user.user.pk %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-danger"  style='border-radius:10px;' type=submit>UnFollow</button>
                                                    </form>
                                                  {% else %}
                                                  <form method="POST" action="{% url 'profile:add-follower' user.user.pk %}">
                                                    {% csrf_token %}
                                                    <button class="btn btn-outline-success"  style='border-radius:10px;' type=submit>Follow</button>
                                                </form>
                                                  
                                                  {% endif %}
                                              </div>
                                            </div>
                                    
                                        </article>
                                    
                                    {% endfor %}
                                </div>
                                </div>
                                <!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>

{% endblock %}