{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="central-meta">
    <div class="new-postbox">
        <figure>
            <img src="{{ request.user.profile.profile_image.url }}" alt="">
        </figure>
        <div class="newpst-input">
            <form method="post" action="{% url 'Timeline:post-edit' pk=post.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea rows="4" name="body" placeholder="Write something" >{{ post.body }}</textarea>
                <div class="attachments">
                    <ul>
                        <li>
                            <i class="fa fa-image"></i>
                            <label class="fileContainer">
                                <input type="file" name="image" id="image_input" accept="image/*" value="{{ post.image.all }}" onchange="previewImage()" multiple>
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-video-camera"></i>
                            <label class="fileContainer">
                                <input type="file", name="video" id="video_input" accept="video/*" value="{{ post.video.all }}" onchange="previewVideo()" multiple>
                            </label>
                        </li>
                        <li>
                            <button type="submit">Post</button>
                        </li>
                        <li>
                            <div id="imageContainer" style="visibility: visible;">

                            </div>
                        </li>
                        <li>
                            <div id="videoContainer"style="visibility: visible;">

                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}