{% extends 'base.html' %} {% load static %} {% block content %}
<form form method="get" action="{% url 'Timeline:post-preview' post.pk %}" enctype="multipart/form-data">
    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <form method="post" action="{% url 'Timeline:post-delete' post.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button style="position:absolute; right:0;"><h5>×</h5></button>
                </form>
                <figure>
                    {% if post.user.profile.profile_image.url %}
                    <img src="{{ post.user.profile.profile_image.url }}" alt=""> {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt=""> {% endif %}
                </figure>
                <div class="friend-name">
                    <ins><a href="{% url 'profile:user-timeline' post.user.pk %}" title="">{{ post.user.username }}</a></ins>
                    <span>published: {{ post.created_at|timesince }} ago</span>
                </div>
                <div class="post-meta">
                    <img src="images/resources/user-post.jpg" alt="">
                    <div class="description">
                        <div>
                            {%for tag in post.tags.all%}
                            <label>#{{ tag }}</label> {% endfor %}
                        </div>
                        <p>{{ post.body }}</p>
                        <div style="display:flex; flex-flow: column;  align-items: center;">
                        {% if post.image.count > 0 %}
                            {% for image in post.image.all %}
                            <img class="mySlides" style="max-width: 600px; margin-bottom: 5px; min-width: 400px;" src="{{ image.image.url }}" class="post-image" /> {% endfor %}
                        {% endif %} {% if post.video.count > 0 %}
                        <div class="col-md-4 col-xs-12">
                            {% for video in post.video.all %}
                            <video style="max-width: 800px;" style="max-width: 600px; min-width: 400px;" class="mySlides" src="{{ video.video.url }}" controls class="post-image" preload="metadata"></video> {% endfor %} {% endif %}
                        </div>
                        <div>
                        <button class="w3-button w3-display-left" onclick="return plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-display-right" onclick="return plusDivs(+1)">&#10095;</button>
                        </div>
                    </div>
                        <div class="we-video-info" style="display:flex; flex-flow: column;  align-items: center; text-align:center;" >
                            <ul>
                                <li>
                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                            <i class="fa fa-comments-o"></i>
                                            <ins>{{ post.comments.count }}</ins>
                                        </span>
                                </li>
                                <li>
                                    <a href="{%url 'Timeline:postlike' post.pk %}" value="post_id" class="link" data-toggle="tooltip" title="like">
                                        <i class="ti-heart"></i>
                                        <ins>{{post.likes}}</ins>
                                    </a>
                                </li>


                                <li>
                                    <span class="save Post" data-toggle="tooltip" title="save post">
                                            <i class="material-icons">save_alt</i>
                                            <ins>200</ins>

                                        </span>
                                </li>
                                <li class="social-media">
                                    <div class="menu">
                                        <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                        </div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                        </div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                        </div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                        </div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                        </div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                            </div>
                                        </div>
                                        <div class="rotater">
                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="coment-area" >
                    <ul class="we-comet">
                        {% for comment in post.comments.all %}
                        <li>
                            <div class="comet-avatar">
                                {% if comment.user.profile.profile_image.url %}
                                <img style="max-width: 100px;" src="{{ comment.user.profile.profile_image.url }}" alt=""> {% else %}
                                <img style="max-width: 100px;" src="{% static 'images/default.jpg' %}" alt=""> {% endif %}
                            </div>
                            <div class="we-comment">
                                <div class="coment-head">
                                    <h5><a href="#" title="">{{ comment.user.username }}</a></h5>
                                    <span>{{ comment.created_at|timesince }} ago</span>
                                    <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                </div>
                                <p>{{ comment.content }}</p>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="post-comment">
                            <div class="comet-avatar">
                                <img style="max-width: 50px;" src="{{ request.user.profile.profile_image.url }}" alt="">
                            </div>
                            <div class="post-comt-box">
                                <form method="post" id="comment-form" action="{% url 'Timeline:comment-create' post.id %}">
                                    {% csrf_token %}
                                    <input placeholder="Post your comment" name="content">
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</form>
{% endblock content %}